form{
  font-size: 40px;
  padding: 100px;
  height: fit-content;
  width: 100%;
  text-align: left;
  position: inherit;
  padding: auto;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}
input{
  border: 2px solid black;
  background-color: #fbca1f;
}
button {
  background: #fbca1f;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;

}

button:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}
@font-face {
  font-family: MyGreek;
  src: url(StampatelloFaceto.otf);
}

body{
  background-color: #fbca1f;
  font-family: MyGreek;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 10%;
  align-items: center;
}
.koumpi{
  background: #fbca1f;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
  width: 16px;
  height: 16px;
  
}
.koumpi:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}
.koumpi:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}
a:visited { 
  text-decoration: none; 
  color: black;
}
h1{
  font-family: MyGreek;
}