@font-face {
    font-family: MyGreek;
    src: url(StampatelloFaceto.otf);
}
body{
    background-color: #fbca1f;
    font-family: MyGreek;
}
.kati{
    border-radius: 10px;
    text-align: left;
    font-family: MyGreek;
}
th{
    text-align: center;
}
table{
    text-align: center;
    table-layout: initial;
}